<!DOCTYPE html>
<html lang="fr"
    xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
		<title>Andrana Spring Boot</title>
	</head>
	<body style="
		background-image: url('assets/register-bg.png');
		background-size: cover;
	    height: 550px;
    	margin-top: 5%;	
	">"
		
		<br /><br /><br />
		<div class="container">
		  <div class="row col-md-8 offset-md-2">
		    <div class="card" style="background-color: #ffffff73;">
		      <div class="card-header">
		          <h2 class="text-center">Créer ici votre compte</h2>
		      </div>
		      <div class="card-body">
		          <form
		            method="post"
		            role="form"
		            th:action="@{/registration}"
		            th:object="${user}"
		          >
		            <div class="form-group mb-3">
		              <label class="form-label">Nom complet :</label>
		              <input
		                      class="form-control"
		                      id="full_name"
		                      name="full_name"
		                      placeholder="Entrer votre nom complet"
		                      th:field="*{full_name}"
		                      type="text"
		              />
		              <p th:errors = "*{full_name}" class="text-danger"
		              th:if="${#fields.hasErrors('full_name')}"></p>
		            </div>
		
		            <div class="form-group mb-3">
		              <label class="form-label">Nom d'utilisateur :</label>
		              <input
		                      class="form-control"
		                      id="username"
		                      name="username"
		                      placeholder="Entrer votre nom d'utilisateur"
		                      th:field="*{username}"
		                      type="text"
		              />
		              <p th:errors = "*{username}" class="text-danger"
		                 th:if="${#fields.hasErrors('username')}"></p>
		            </div>
		
		            <div class="form-group mb-3">
		              <label class="form-label">Mot de passe :</label>
		              <input
		                      class="form-control"
		                      id="password"
		                      name="password"
		                      placeholder="Enter votre mot de passe"
		                      th:field="*{password}"
		                      type="password"
		              />
		              <p th:errors = "*{password}" class="text-danger"
		                 th:if="${#fields.hasErrors('password')}"></p>
		            </div>
		            <div class="form-group">
		              <span>Avez vous déjà une compte? <a th:href="@{/login}">Se connecter</a></span><br ><br >
		              <button class="btn btn-primary" type="submit">S'insrire</button>
		            </div>
		          </form>
		      </div>
		    </div>
		  </div>
		</div>
	</body>
</html>